.noneImgBorder {
    border: 0;
    border-radius: 25px;
    height: 200px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0)
}

/* Add a hover effect (blue/grey shadow) */
.noneImgBorder:hover {
    box-shadow: 0 0 2px 1px rgba(10, 44, 53, 0.678);
  }