body {
    background-color: rgba(60, 97, 40, 0.171);
}

h1 {
    font-family: 'Playfair Display', serif;
}

.pTop {
    font-family: 'PT Serif', serif;
}

#jumboText {
    color: rgba(247, 247, 247, 0.75);
}

footer p {
    float: right;
}

.jumbotron {
    margin: 20px;
    background-image: url("../img/waterfall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 50%;
    /* background-attachment: fixed; */
}

#parkTypeDiv {
    display: none;
}

